<html>
<head>
    <title>##TITLE##</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Stu Thompson's Blog: ##TITLE##" />
    <link rel="stylesheet" href="https://blog.statn.dev/styles/style.css" />
</head>
<body>
    <div class="titleBar"><a href="/index.html">Home</a></div>
    <div class="mainContentContainer">
        <div class="title">##TITLE##</div>
        <div class="date">Date: ##DATE##</div>
        <div class="content">##CONTENT##</div>
    </div>
</body>
</html>
