<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stu Thompson's Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Stuart Thompson's blog. Content:<!--PageCount--> pages. Last updated:<!--LastUpdateDate-->">
    <link rel="stylesheet" href="https://blog.statn.dev/styles/style.css">
</head>
<body>
    <h1>statn.blog();</h1>
    <div class="mainContentContainer">
        ##EXCERPTS##
    </div>
</body>
</html>
